.wideInput {
    width: 100%;
}

.appPane {
    width: 81.77%;
    height: 100%;
    float: right;
}

.ui.inverted.menu {
    background: #00325C !important;
}

.ui.slider.checkbox input:checked~.box:before {
  background-color: #F47735 !important;
}

.ui.slider.checkbox label,
.ui.slider.checkbox input:checked ~ label,
.ui.checkbox .box:after, .ui.checkbox label:after {
    color: white !important;
}

.header {
    cursor: pointer;
}

.introMenu p {
    text-align: justify;
}

#restore_from_cookies {
    width: 100%;
}

body {
    overflow-y: hidden !important;
}

.ui.bottom.attached.tab.segment {
    padding: 0px 0px 0px 0px !important;
}

.ui.bottom.attached.tab.segment[data-tab="add_tab"] div {
    height: 20vh;
    width: auto;

    display: inline-block;
    position: relative;
}

.ui.bottom.attached.tab.segment[data-tab="add_tab"] div img {
    position: relative;
    width: auto;
    height: inherit;
}

.ui.bottom.attached.tab.segment[data-tab="add_tab"] div p {
    opacity: 0.0;
    
    position: absolute;

    height: 100%;
    width: 100%;

    vertical-align: middle;
    line-height: 10.5vw;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background-color: rgba(0, 0, 0, 0.5);

    transition: 0.25s ease;

    font-size: 1.75vw;
    color: white;
}

.ui.bottom.attached.tab.segment[data-tab="add_tab"] div:hover p {
    opacity: 1.0;
}

